.layout_overflow{
    height: 90vh;
    overflow-x: auto;
}

/* --to hide scrollbar------ */
.layout_overflow::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Student game page */
.hidden {
    display: none;
  }